<form action="/locations/" method="POST" class="navbar-form pull-right form-inline">
    <input type="text" name="nickname" id="inputName" value="" placeholder="Name">

    <input type="text" class="input-xlarge" name="address" id="inputAddress" value="" autocomplete="off" placeholder="Address">

    <input type="hidden" name="lat" id="inputLat">
    <input type="hidden" name="lng" id="inputLon">
    <button type="submit" id="submitNewLocation" class="btn btn-primary">Add Favorite</button>

</form>