<td><input class="edit-nickname input-block-level" type="text" value="<%= nickname %>" placeholder="Nickname"></td>
<td><input class="edit-address input-block-level" type="text" value="<%= address %>" placeholder="Address"></td>
<td><a href="javascript: void(0);" class="btn btn-primary save" data-location-id="<%= id %>">Save</a></td>
<td><a href="javascript: void(0);" class="cancel" data-location-id="<%= id %>">Cancel</a></td>
<input type="hidden" class="edit-lat" value="<%= lat %>">
<input type="hidden" class="edit-lng" value="<%= lng %>">